<!-- NEWS SECTION -->
<!-- Content lives in _data/news.yml. Edit that file, not this one. -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr><td width="100%" valign="middle">

  <h1 id="News" align="center">news</h1>

  <table class="hoverTable" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    {%- for n in site.data.news -%}
    {%- if n.recent -%}
      <tr>
        <td width="11%" class="has-text-grey">{{ n.date }}</td>
        <td>{{ n.html }}</td>
      </tr>
    {%- endif -%}
    {%- endfor -%}
  </table>

  <br>
  <details>
  <summary>{{ site.data.news_archive_label | default: "Older news" }}</summary>
  <table class="hoverTable" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    {%- for n in site.data.news -%}
    {%- unless n.recent -%}
      <tr>
        <td width="11%" class="has-text-grey">{{ n.date }}</td>
        <td>{{ n.html }}</td>
      </tr>
    {%- endunless -%}
    {%- endfor -%}
  </table>
  </details>

  </td></tr>
</table>
