<!-- NEWS SECTION -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr><td width="100%" valign="middle">

  <h1 id="News" align="center">Latest</h1>

  <ul>
    <li> <b>June 2021: </b> I will be presenting our work on gaze for social navigation at ICRA 2021</li>

    <li> <b>May 2021: </b> I defended my honors thesis on deep reinforcement learning for mesh refinement and finally graduated from UT Austin</li>

    <li> <b>May 2021: </b> I will be working with <a target="_blank" href="https://emprise.cs.cornell.edu/">Tapo Bhattacharjee</a> from Cornell this summer thanks to the <a target="_blank" href="https://workshoputrgv.github.io/google.explorecsr.html">Google exploreCSR program</a> </li>

    <li> <b>March 2021: </b> I will be joining the University of Southern California for my PhD to work on HRI and language grounding with <a target="_blank" href="https://jessethomason.com/">Jesse Thomason</a></li>

    <li> <b>January 2021: </b> I attended the <a target="_blank" href="https://aaai-uc.github.io/">AAAI-21 Undergraduate Consortium</a>, and met so many wonderful people while presenting my research on <a target="_blank" href="https://www.aaai.org/AAAI21Papers/UC-56.AnwarA.pdf">spiking weight-agnostic neural networks</a> </li>

    <li> <b>January 2021: </b> I will be participating in <a target="_blank" href="https://research.google/outreach/csrmp/">Google Research's CS Research Mentorship program</a> </li>

    <br>
    <details>
    <summary>2020 and Earlier</summary>

    <h2 id="2020">2020</h2>
    <li> <b>July 2020: </b> I (virtually) attended my first conference, <a target="_blank" href="http://icons.ornl.gov/">ICONS</a>, and presented a poster on spiking neural networks  </li>




  </details>
  </ul>

  </td></tr>
  </table>
