{% if include.post.paper %}<a class="pub-link" target="_blank" href="{{include.post.paper}}">paper</a>{% endif %}
{% if include.post.arxiv %}<a class="pub-link" target="_blank" href="{{include.post.arxiv}}">arxiv</a>{% endif %}
{% if include.post.tech_report %}<a class="pub-link" target="_blank" href="{{include.post.tech_report}}">tech report</a>{% endif %}
{% if include.post.video %}<a class="pub-link" target="_blank" href="{{include.post.video}}">video</a>{% endif %}
{% if include.post.code %}<a class="pub-link" target="_blank" href="{{include.post.code}}">code</a>{% endif %}
{% if include.post.poster %}<a class="pub-link" target="_blank" href="{{include.post.poster}}">poster</a>{% endif %}
{% if include.post.slides %}<a class="pub-link" target="_blank" href="{{include.post.slides}}">slides</a>{% endif %}
{% if include.post.website %}<a class="pub-link" target="_blank" href="{{include.post.website}}">website</a>{% endif %}
{% if include.post.blog %}<a class="pub-link" target="_blank" href="{{include.post.blog}}">blog</a>{% endif %}
{% if include.post.twitter %}<a class="pub-link" target="_blank" href="{{include.post.twitter}}">twitter</a>{% endif %}
